.project-container {
    margin-top: 20px;
    width: 200px;
    text-align: right;
    float: right;
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    font-family: 'Coolvetica';
    font-size: 15px;
    font-weight: 200px;
  }
}
