.box{

    // position: relative;
    // right: 20%;
    // top: 40%;
    h2{
        float: right;
        color: #E98074;
        font-size: 40px;
        font-family: 'Coolvetica';
        font-weight: 400;
        text-align: right;
        margin: 0;
        margin-bottom: 10px;
        line-height: 50px;  
        animation: none;
        // width: 300px;
    }
    h3{
        color: #8e8d8a;
        font-size: 30px;
        font-family: 'Coolvetica';
        font-weight: 400;
        margin: 0;
        // width: 200px;
        float: right;
    }
    h4{
        color: #d8c3a5;
        font-size: 30px;
        font-family: 'Coolvetica';
        font-weight: 400;
        float: right;
        clear: both;

        margin: 0;
    }
    h5{
        color: #000000;
        font-size: 22px;
        font-family: 'Coolvetica';
        font-weight: 400;
        margin: 0;
        // width: 200px;
        float: right;
    }
    img{
        width: 100%;
    }
    // box-sizing: border-box;
    // background-color: rgb(255, 192, 75);
    // border: 20px solid black;
    // padding: 10px;
    // float: right;
    // clear: right;
    // width: 400px;
    // margin: auto;


    height: 100%;
    // margin-bottom: 290px;
    // margin-top: 210px;



}
